@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  background-color: #0000;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #13a89e;
  border-radius: 1000px;
}

#hacktober-fest-card {
  background-color: #170f1e;
  position: relative;
  z-index: 2;
  opacity: 1;
  background-image: linear-gradient(#291c3f 2px, transparent 1px),
    linear-gradient(to right, #291c3f 2px, #170f1e 1px);
  background-size: 40px 40px;
  /* animation: tubelight infinite linear 700ms; */
}

#hacktober-fest-card .globe {
  animation: tubelight infinite linear 700ms;
}
#hacktober-fest-card .h {
  animation: tubelight infinite linear 400ms;
}

/* #hacktober-fest-card .text {
  animation: none;
} */

@keyframes tubelight {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.announcement_content {
  margin: 1rem 2rem;
}

.contributing-heading {
  margin: 3rem 2rem;
}

.contributing-steps {
  margin: 3rem 5rem;
}

.project-box {
  border: 2px solid #13a89e;
  border-radius: 1.2rem;
}

.project-box .project-image {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  margin: -0.05rem;
}

.project-box div.project-text {
  padding: 1rem 1.5rem;
  margin: 0.1rem;
}
